{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Estonia" %}

    {% block content %}

        <h1> {{ name }} is a country with 1,2 mln, 45 000 km, Tomas Hendrik president</h1>

    {% endblock %}